{% extends 'mysite/base.html' %}
{% block content %}
{% for post,comments_count in comment_and_posts %}
	<div class="post">
		<div class="date">
			<p>published: {{ post.published_date }} by <a href="{% url 'profile_view' username=post.author.username %}">@{{post.author}}</a></p>
		</div>
		<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title|truncatechars:48 }}</a></h2>
		<p>{{ post.text|linebreaksbr|truncatechars:200}}</p>
		 <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ comments_count }} </a>
	</div>
{% endfor %}
{% endblock %}